@import "global.css";


.table {
    width: 80%;
    background: var(--background-table);
    border: 2px solid var(--border-color);
    margin: 30px auto;
    color:var(--font-table-color) ;
    height: 80%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    width: 5%;
    height: 5%;
    vertical-align: top;
    text-align: right;
    color:var(--font-table-color) ;

}

.item {
    border-bottom: 2px solid var(--border-color);
    color:var(--font-table-color) ;

}

.table-cell:first-child div {
    height: 50%;
}

.table-cell:nth-child(2) div {
    height: 25%;
}

.table-cell:nth-child(2) {
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.table-cell:nth-child(3) {
    vertical-align: middle;
}

.table-cell div {
    padding: 12px;
}
/*

@media (max-width:1024px) {
    .table {
        width: 800px;
        transform: scale(.8);
        margin: auto;
    }
}

@media (max-width:768px) {
    .table {
        transform: scale(.9);
        width: 500px;
        margin: auto;
    }
}*/
